<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Billimatic - La facturation simplifiée" %></title>

    <script type="text/javascript" src="//use.typekit.net/aiu1psv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render "/includes/header" %>

    <div class="row">

      <div class="large-9 columns">
        <%= render "/includes/flash" %>
        <%= yield %>
      </div>

      <%= render "/includes/sidenav" %>

    </div>

    <%= render "/includes/footer" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
